/*<general>*/
button > img {
  height: 1em;
  width: 1em;
}

/*<header area>*/
header,
#service_logo,
#help,
#help_content,
#button_help,
#button_help_close,
canvas,
video,
#edit_tab,
footer,
#setting,
#button_edit,
#button_camera,
#button_flip {
  position: absolute;
}
header {
  width: 100%;

  top: 0;
  left: 0;
  z-index: 3;
}
#service_logo {
  height: 50px;
  padding: 4px;
  top: 0;
  /*常に画面の中央に配置*/
  left: 50%;
  transform: translateX(-50%);
}

#help {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow-y: scroll;
  top: 0;
  right: 0;

  z-index: 8;
  background-color: aliceblue;
  display: none;
}
#help.show {
  display: block;
}
#help::-webkit-scrollbar {
  display: none;
}
#help_content {
  position: relative;
  margin: 50px;
  z-index: 3;
  background-color: aliceblue;
}
#button_help {
  max-width: calc(100vw - 80px);
  padding: 4px;
  top: 10px;
  right: 10px;
}

#button_help_close {
  max-width: calc(100vw - 80px);
  padding: 4px;
  top: 10px;
  right: 10px;
}

canvas {
  top: 0;
  left: 0;
  z-index: 2;
}
video {
  top: 0;
  left: 0;
  z-index: 1;
}

#edit_tab {
  width: 100%;
  bottom: 40px;
  left: 0;
  z-index: 3;
  background-color: aliceblue;
  display: none;
  transition: transform 1.2s ease-out;
  transform: translateY(100%);
}
#edit_tab.show {
  transform: translateY(0);
  display: block;
}

footer {
  width: 100%;

  bottom: 0;
  left: 0;
  z-index: 3;
}

#setting {
  top: 0;
  left: 0;
  z-index: 3;
  background-color: aliceblue;
}

/* Button Postison */

#button_edit {
  max-width: calc(100vw - 80px);
  padding: 4px;
  bottom: 10px;
  left: 10px;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-item .accordion-header {
  cursor: pointer;
  background-color: lightgray;
  padding: 10px;
}

.accordion-item .accordion-content {
  display: block;
  padding: 10px;
  max-height: 1000px;
}

#button_camera {
  max-width: calc(100vw - 80px);
  padding: 4px;
  bottom: 10px;
  left: 50%;
  right: auto;
}

#button_flip {
  max-width: calc(100vw - 80px);
  padding: 4px;
  bottom: 10px;
  right: 10px;
}

#tab_sprite {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tab_sprite button {
  width: 40px;
  height: 40px;
  margin: 2px;
  padding: 2px;
}

#tab_sprite #add_sprite {
  left: 0px;
  margin-left: 10px;
}

#tab_sprite button.selected {
  border-color: blue;
  /* 選択されたボタンを強調表示 */
}

#tab_sprite img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#add_sprite {
  display: none;
  background-color: bisque;
  position: absolute;
  z-index:5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#Sprites_List {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.SpriteCard {
  border: 4px solid #000;
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SpriteCard.selected {
  border: 4px dashed blue;
}

.SpriteCard img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.close_add_sprite {
  /*画面中央*/
  position: relative;
  left: 50%;
}

#CardButtons {
  position: absolute;
  bottom: 5px;
}

#CardButtons button {
  margin: 0px 5px;
}

#Img_Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;

  justify-content: center;
  align-items: center;
  z-index: 10;
}

#Img_Modal img {
  width: auto;
  height: 80%;
}